.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: blue;
  .title {
    display: flex;
    background: blue;
    color: #ffffff;
    width: 20%;
    font-size: 23px;
  }
  .search-bar {
    display: flex;
    width: 55%;
    background: white;
    border-radius: 50px;
    img {
      border-radius: 50px;
      height: 20px;
    }
    input {
      width: 80%;
      outline: none;
      border: none;
    }
  }
  .cart-img {
    position: relative;
    img {
      width: 50px;
      height: 50px;
    }
    .badge {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      background-color: red;
      color: white;
    }
  }
}
@media only screen and (min-width: 720px) {
  .header-container {
    .title {
      font-size: 30px;
      width: 10%;
    }
    .search-bar {
      padding: 0;
      width: 40%;
      img {
        width: 30px;
        height: 30px;
      }
      input {
        width: 85%;
        padding: 10px;
      }
    }
    .cart-img {
      padding-left: 500px;
    }
  }
}
